<div class="home_top_band">
	<div class="container">
		<h1>Buy, Sell, Safer</h1>
		<h3>Learn how to build websites & apps, write code or start a business.</h3>
		<p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-lg btn-primary" %></p>
	</div>
</div>
<div class="category_band">
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<img class="img-responsive" src="https://s3.amazonaws.com/ksr/projects/932466/photo-ed.jpg"/>
				<p>Electronics</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive" src="https://s3.amazonaws.com/bettercraiglist/images/tools.png"/>
				<p>Tools</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive" src="https://s3.amazonaws.com/bettercraiglist/images/sports.png"/>
				<p>Sports</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive" src="https://s3.amazonaws.com/ksr/projects/932466/photo-ed.jpg"/>
				<p>Sports</p>
			</div>
		</div>
		<div class="row category_second_row">
			<div class="col-md-3">
				<img class="img-responsive" src="https://s3.amazonaws.com/bettercraiglist/images/cars.png"/>
				<p>Vehicles</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive" src="https://s3.amazonaws.com/bettercraiglist/images/tickets.png"/>
				<p>Tickets</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive" src="https://s3.amazonaws.com/bettercraiglist/images/music.png"/>
				<p>Music</p>
			</div>
			<div class="col-md-3">
				<img class="img-responsive" src="https://s3.amazonaws.com/bettercraiglist/images/housing.png"/>
				<p>Housing</p>
			</div>
		</div>
	</div>
</div>