/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#post h1 {font-size:1.6em;}
#post #post-price{
	color:green;
	font-size:1.4em;
}
#post #category{
	font-size:.9em;
}

#post #infobar{
	vertical-align: middle;
}
#post #description{
	font-size:1.1em;
	padding: 2px;
	margin: 6px;
}

#post #contact-info{
	padding: 2px;
	margin: 6px;
}

#post .payment-vendor-icon{
	display:inline-block;
	vertical-align: middle;
}

#post .paypal-icon{
	background: url('http://i.imgur.com/QyyjTWK.png') 0px 0px;
	height: 30px;
	width:48px;
}

#post .no-paypal-icon{
	background: url('http://i.imgur.com/QyyjTWK.png') 0px 30px;
	width:48px;
	height: 30px;
	opacity: .5;
}

#post .stripe-icon{
	background: url('http://i.imgur.com/MBoW1Et.png')  0px 0px;
	height: 30px;
	width:63px;
}

#post .no-stripe-icon{
	background: url('http://i.imgur.com/MBoW1Et.png')  0px 30px;
	height: 30px;
	width:63px;
	opacity: .5;
}

.login_field {
	width: 75%;

}

.signin_field {
	width:75%;
}

 .sign_button {
 	margin-top: 15px;
 }

.desc {
	margin-bottom: 0px;
	font-size: 9px;
}

.splash-category{
	position: relative; 
   width: 100%; /* for IE 6 */
}

.splash-category h2{
	position: absolute; 
	top: 0px; 
	left: 0; 
	width: 100%;
}

.splash-category h2 span { 
   color: white; 
   font: bold 24px/45px Helvetica, Sans-Serif; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}

#catchphrase {
	max-width: 70%;
}

#left_foot {
	float: left;
}

#right_foot {
	float: right;
}

.freature_title {

}

.feature_wrapper {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.butt {
	margin: 5px;

}

.caty { 
	width: 25%;
}
