/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#post h1 {font-size:1.6em;}
#post #price{
	color:green;
	font-size:1.4em;
}
#post #category{
	font-size:.9em;
}

#post #infobar{
	vertical-align: middle;
	valign: middle;
}
#post #description{
	font-size:1.1em;
	padding: 2px;
	margin: 6px;
}

#post #contact-info{
	padding: 2px;
	margin: 6px;
}

#post .payment-vendor-icon{
	width:75px;
	display:inline-block;
}

#post .paypal-icon{
	background: url('http://i.imgur.com/wUf6bjj.png') 0px 0px;
	height: 25px;
}

#post .no-paypal-icon{
	background: url('http://i.imgur.com/wUf6bjj.png') 0px 25px;
	height: 25px;
	opacity: .5;
}

#post .stripe-icon{
	background: url('http://i.imgur.com/VzVvnN9.png')  0px 0px;
	height: 30px;
}

#post .no-stripe-icon{
	background: url('http://i.imgur.com/VzVvnN9.png')  0px 30px;
	height: 30px;
	opacity: .5;
}
